<% title t(".page_title.#{@form_object.i18n_key}") %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <p class="app__section_heading">Safety concerns</p>
    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t ".heading.#{@form_object.i18n_key}" %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.hidden_field :subject %>
      <%= f.hidden_field :kind %>

      <%= f.text_area :behaviour_description, size: '40x4', class: 'form-control-3-4' %>
      <%= f.text_field :behaviour_start %>

      <%=
        f.radio_button_fieldset :behaviour_ongoing, inline: true do |fieldset|
          fieldset.radio_input(GenericYesNo::YES)
          fieldset.radio_input(GenericYesNo::NO) { f.text_field :behaviour_stop }
        end
      %>

      <%=
        f.radio_button_fieldset :asked_for_help, inline: true do |fieldset|
          fieldset.radio_input(GenericYesNo::YES, panel_id: :asked_for_help_panel)
          fieldset.radio_input(GenericYesNo::NO)
          fieldset.revealing_panel(:asked_for_help_panel) do |panel|
            panel.text_field(:help_party)
            panel.radio_button_fieldset(:help_provided, inline: true, choices: GenericYesNo.values)
            panel.text_area(:help_description, size: '40x4', class: 'form-control-3-4')
          end
        end
      %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
