<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <div role="note" aria-label="Information" class=" panel panel-border-wide info-notice">
      <p><%=t '.body_info_html' %></p>
    </div>

    <%= step_form @form_object, data: { 'disable-enter': 1 } do |f| %>
      <% @existing_records.each.with_index do |applicant, index| %>
        <%= f.fields_for :names_attributes, applicant, index: index do |c| %>
          <%= render partial: 'steps/shared/existing_names', locals: { names_form: f, person: c, legend: t('.record_index', index: index + 1) } %>
        <% end %>
      <% end %>

      <%= render partial: 'steps/shared/new_name', locals: { names_form: f } %>

      <%= f.button t('.btn_add_another'), type: :submit, value: :add_another_name, class: ['button-alternative'] %>

      <div class="xform-group form-submit">
        <%= f.continue_button %>
      </div>
    <% end %>
  </div>
</div>
