<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <p class="app__section_heading"><%=t '.section' %></p>

    <h1 class="app__heading heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <%= step_form @form_object do |f| %>
      <%=
        f.check_box_fieldset :urgency_exemptions, [
          UrgencyExemptions::GROUP_RISK,
          UrgencyExemptions::GROUP_MISCARRIAGE
        ] do |fieldset|
          fieldset.check_box_input(UrgencyExemptions::GROUP_RISK) {
            f.check_box_fieldset :exemptions_group, UrgencyExemptions::RISK
          }
          fieldset.check_box_input(UrgencyExemptions::GROUP_MISCARRIAGE) {
            f.check_box_fieldset :exemptions_group, UrgencyExemptions::MISCARRIAGE
          }
        end
      %>

      <p class="form-block or-block"><%=t '.or' %></p>

      <%= f.check_box_fieldset :exemptions_group, [UrgencyExemptions::URGENCY_NONE] %>

      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
