<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <p class="app__section_heading"><%=t '.section' %></p>

    <h1 class="app__heading heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <div class="miam_exemptions">
    <%= step_form @form_object do |f| %>
      <%=
        f.check_box_fieldset :urgency_exemptions, [
          UrgencyExemptions::RISK_APPLICANT,
          UrgencyExemptions::UNREASONABLE_HARDSHIP,
          UrgencyExemptions::RISK_CHILDREN,
          UrgencyExemptions::RISK_UNLAWFUL_REMOVAL_RETENTION,
          UrgencyExemptions::MISCARRIAGE_JUSTICE,
          UrgencyExemptions::IRRETRIEVABLE_PROBLEMS,
          UrgencyExemptions::INTERNATIONAL_PROCEEDINGS
        ]
      %>

      <p class="form-block or-block"><%=t '.or' %></p>

      <%= f.single_check_box UrgencyExemptions::URGENCY_NONE %>

      <%= f.continue_button %>
    <% end %>
    </div>
  </div>
</div>
