<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <span class="govuk-caption-xl"><%=t '.section' %></span>
    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <div class="govuk-inset-text"><%=t '.info_note' %></div>
    <%=t '.info_html' %>

    <%= step_form @form_object, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_collection_radio_buttons :children_abuse, GenericYesNo.values, :value, nil, legend: { tag: 'span', size: 's', hidden: true } %>
      <%= f.continue_button %>
    <% end %>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" data-ga-category="explanations" data-ga-label="safety questions">
          <%=t 'shared.cafcass.safety_title' %>
        </span>
      </summary>
      <div class="govuk-details__text">
        <%=t 'shared.cafcass.safety_content_html' %>
      </div>
    </details>
  </div>
</div>
