<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <p class="app__section_heading"><%=t '.section' %></p>
    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <div class="govuk-govspeak gv-s-prose">
      <%=t('.info_html')%>
      <div role="note" aria-label="Information" class=" panel panel-border-wide info-notice TODO">
      <%=t '.info_note_html' %>
      </div>
    </div>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :children_abuse, inline: true, legend_options: { class: 'visually-hidden', text: t('.heading') }, choices: GenericYesNo.values %>

      <%= f.continue_button %>
    <% end %>

    <details data-block-name="safety-concerns-reasons">
      <summary>
        <span class="summary" data-ga-category="explanations" data-ga-label="safety questions">
          <%=t 'shared.cafcass.safety_title' %>
        </span>
      </summary>
      <div class="panel panel-border-narrow">
        <%=t 'shared.cafcass.safety_content_html' %>
      </div>
    </details>
  </div>
</div>
