<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :child_protection_cases, inline: true, choices: GenericYesNo.values %>

      <%= f.submit class: 'button' %>
    <% end %>
    <div class="extraBlocks govuk-govspeak gv-s-prose">
      <div>
        <details role="group" data-block-name="children-explanation">
           <summary role="button">Why we use the term ‘children’</summary>
          <div class="panel panel-border-narrow undefined">
            <p>We use ‘children’ as a general term to mean whether you have a child or children. We do this to avoid repetition.</p>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>
