<% title 'Send your application' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge gv-u-heading-xxlarge">How to submit your application</h1>

    <div role="note" aria-label="Warning" class="notice gv-c-notice">
      <i class="icon icon-important gv-c-notice__icon gv-c-notice__icon--important">
        <span class="visually-hidden gv-c-notice__icon-fallback-text">Warning</span>
      </i>
      <strong class="bold-small gv-c-notice__text">
        The court will not receive your application until you complete the steps below.
      </strong>
    </div>

    <section class="numbered-list">
      <h2 class="visuallyhidden">Steps</h2>
      <div class="govuk-govspeak gv-s-prose">
        <ol class="list list-number">
          <li class="util_mt-medium">
            <h3 class="heading-medium">Download your application</h3>
            <p>
              This will be a PDF. If you cannot open the PDF after downloading, try using
              <a href="https://get.adobe.com/uk/reader/" target="external_link" rel="external">Adobe Acrobat Reader</a>.
            </p>

            <% unless user_signed_in? %>
              <div class="panel panel-border-narrow">
                <p>To avoid losing your application, you must download it now. You cannot return to a completed application.</p>
              </div>
            <% end %>

            <p>
              <%= link_to 'Download your PDF application',
                          steps_completion_summary_path(format: :pdf),
                          class: 'button ga-pageLink',
                          data: {ga_category: 'completion', ga_label: 'download application'} %>
            </p>
          </li>

          <!-- TODO: feature-flagged until we release the online submission,
            then we can remove this condition and insert the partial here -->
          <% if current_c100_application.submission_type.present? %>
            <%= render partial: 'steps/completion/what_next/new_instructions' %>
          <% else %>
            <%= render partial: 'steps/completion/what_next/old_instructions' %>
          <% end %>

          <li class="util_mt-medium">
            <h3 class="heading-medium">Pay the application fee</h3>
            <%= render partial: 'steps/shared/payment_instructions' %>
          </li>
        </ol>
      </div>
    </section>

    <hr/>

    <%= render partial: 'steps/shared/court_help', locals: {court: @court} %>
  </div>
</div>
