<% title 'Send your application' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">How to submit your application</h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The court will not receive your application until you complete the steps below.
      </strong>
    </div>

    <h2 class="govuk-visually-hidden">Steps</h2>

    <ol class="govuk-list govuk-list--number app-list--icon-steps">
      <li>
        <h3 class="govuk-heading-m">Download your application</h3>
        <%= render partial: 'steps/shared/download_pdf_copy', locals: {
          callout: 'To avoid losing your application, you must download it now. You cannot return to a completed application.'
        } %>
      </li>

      <li>
        <h3 class="govuk-heading-m">Print your application</h3>
        <p class="govuk-body">
          Print 3 copies of your whole application on A4 paper, single sided. The court will send one copy to the other
          person, keep one copy, and return one copy to you.
        </p>
      </li>

      <% if @c100_application.applicants.under_age? %>
        <li>
          <h3 class="govuk-heading-m">
            Send certificate of suitability or court order appointing a litigation friend
          </h3>

          <%= render partial: 'steps/shared/under_age_section' %>

          <p class="govuk-body">
            Include your application reference code. The court will not be able to process your application until these documents have been received.
          </p>
        </li>
      <% end %>

      <li>
        <h3 class="govuk-heading-m">Post it to the court</h3>
        <%= render partial: 'steps/shared/post_instructions', locals: {
          c100_application: @c100_application, court: @court
        } %>
      </li>

      <li>
        <h3 class="govuk-heading-m">Pay the application fee</h3>
        <%= render partial: 'steps/shared/payment_instructions', locals: {
          c100_application: @c100_application
        } %>
      </li>
    </ol>

    <%= render partial: 'steps/shared/court_help', locals: {court: @court} %>

    <%= render partial: 'steps/shared/feedback' %>
  </div>
</div>
