<% title 'Send your application' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge gv-u-heading-xxlarge">How to submit your application</h1>

    <div role="note" aria-label="Warning" class="notice gv-c-notice">
      <i class="icon icon-important gv-c-notice__icon gv-c-notice__icon--important">
        <span class="visually-hidden gv-c-notice__icon-fallback-text">Warning</span>
      </i>
      <strong class="bold-small gv-c-notice__text">
        The court will not receive your application until you complete the steps below.
      </strong>
    </div>

    <section class="numbered-list">
      <h2 class="visuallyhidden">Steps</h2>
      <div class="govuk-govspeak gv-s-prose">
        <ol class="list list-number">
          <li class="util_mt-medium">
            <h3 class="heading-medium">Download your application</h3>
            <%= render partial: 'steps/shared/download_instructions' %>
          </li>

          <li>
            <span class="heading-medium">Send your application</span>

            <p>Print 3 copies of your whole application on A4 paper, single sided. The court will send one copy to
              the other person, keep one copy, and return one copy to you. Post them to:</p>
            <div class="court-address">
              <%= @court.name %><br />
              <%= simple_format(@court.address.join("\n")) %>
            </div>
          </li>

          <li>
            <h3 class="heading-medium">Pay the application fee</h3>
            <%= render partial: 'steps/shared/payment_instructions' %>
          </li>
        </ol>
      </div>
    </section>

    <hr/>

    <%= render partial: 'steps/shared/court_help', locals: {court: @court} %>
  </div>
</div>
