<% title 'Send your application' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge gv-u-heading-xxlarge">How to submit your application</h1>

    <div role="note" aria-label="Warning" class="notice gv-c-notice">
      <i class="icon icon-important gv-c-notice__icon gv-c-notice__icon--important">
        <span class="visually-hidden gv-c-notice__icon-fallback-text">Warning</span>
      </i>
      <strong class="bold-small gv-c-notice__text">
        The court will not receive your application until you complete the steps below.
      </strong>
    </div>

    <section class="numbered-list">
      <h2 class="visuallyhidden">Steps</h2>
      <div class="govuk-govspeak gv-s-prose">
        <ol class="list list-number">
          <li class="util_mt-medium">
            <h3 class="heading-medium">Download your application</h3>
            <%= render partial: 'steps/shared/download_instructions' %>
          </li>

          <li>
            <span class="heading-medium">Send your application</span>
            <p>To send by email:</p>

            <ul class="list list-bullet force-disc-style">
              <li>attach your downloaded PDF application to an email</li>
              <li>put ‘C100 New application - Child arrangements’ in the subject line</li>
              <li>send it to: <%= mail_to @court.email, @court.email, subject: 'C100 New application - Child arrangements', class: 'ga-pageLink', data: {ga_category: 'completion', ga_label: 'email application'} %></li>
            </ul>

            <p>The court will email you to confirm they have received your application.</p>

            <details>
              <summary>
                <span class="summary" data-ga-category="completion" data-ga-label="print instructions">You can also print it and send by post</span>
              </summary>
              <div class="panel panel-border-narrow">
                <p>Print 3 copies of your whole application on A4 paper, single sided. The court will send one copy to
                  the other person, keep one copy, and return one copy to you. Post them to:</p>
                <div class="court-address"><%= simple_format(@local_court.address.join("\n")) %></div>
              </div>
            </details>
          </li>

          <li>
            <h3 class="heading-medium">Pay the application fee</h3>
            <%= render partial: 'steps/shared/payment_instructions' %>
          </li>
        </ol>
      </div>
    </section>

    <hr/>

    <%= render partial: 'steps/shared/court_help', locals: {court: @court} %>
  </div>
</div>
