<% title 'Professional mediation' %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <span class="govuk-caption-l">Alternative ways to reach an agreement</span>
    <h1 class="govuk-heading-xl">Professional mediation</h1>

    <p class="govuk-body">Mediation sessions are run by professionals who help you try to reach an agreement without going to court.</p>
    <p class="govuk-body">Mediation isn’t relationship counselling and you don’t have to be in the same room as the other parent.</p>
    <p class="govuk-body">Mediation is suitable for people who want to reach an agreement but need help from someone who is independent.</p>

    <p class="govuk-body">
      <a href="https://helpwithchildarrangements.service.justice.gov.uk/professional-mediation" class="govuk-link" rel="external" target="_blank">
        Find out more about professional mediation
      </a>
    </p>

    <%= step_form @form_object, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_radio_buttons_fieldset :alternative_mediation, legend: { tag: 'span', size: 'm' } do %>
        <%= f.govuk_radio_button :alternative_mediation, GenericYesNo::YES, link_errors: true %>
        <%= f.govuk_radio_button :alternative_mediation, GenericYesNo::NO %>
      <% end %>

      <%= f.continue_button %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-sidebar-grey govuk-!-padding-3 govuk-!-margin-bottom-5">
      <h2 class="govuk-heading-m">Pros</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>it’s quicker than court in most cases</li>
        <li>can be cheaper than using a lawyer</li>
        <li>less conflict between parents</li>
        <li>helps children continue family relationships</li>
        <li>agreements are flexible</li>
      </ul>

      <h2 class="govuk-heading-m">Cons</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>you’ll need a consent order to make agreement legally binding</li>
        <li>process won’t work unless parents can co-operate</li>
      </ul>
    </div>
  </div>
</div>
