<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <p class="app__section_heading"><%=t '.section' %></p>
    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <div class=" govuk-govspeak gv-s-prose">
      <%=t '.info_html' %>
    </div>
    <%= step_form @form_object do |f| %>
      <%= f.text_area :risk_details, size: '40x4', class: 'form-control-3-4', label_options: { class: 'visually-hidden' } %>
      <%= f.text_area :current_location, size: '40x4', class: 'form-control-3-4' %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
