<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <%= step_form @form_object, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_radio_buttons_fieldset :asked_for_help, legend: { tag: 'h1', size: 'xl', text: t('.heading') } do %>
        <p class="govuk-body"><%=t '.info_html' %></p>

        <%= f.govuk_collection_radio_buttons :has_other_parties, GenericYesNo.values, :value, nil, legend: { tag: 'span', size: 'm' } %>
      <% end %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
