<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <p class="govuk-body-l"><%=t '.lead_text' %></p>

    <div class="govuk-inset-text">
      <%=t '.info_notice' %>
    </div>

    <%= step_form @form_object, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_collection_radio_buttons :written_agreement, GenericYesNo.values, :value, :to_s, inline: true %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
