<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="app__heading heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <div class="govuk-govspeak gv-s-prose">
      <%=t '.info_html' %>
    </div>

    <div role="note" aria-label="Information" class="panel panel-border-wide info-notice">
      <p><%=t '.timeout_warning', session_timeout: session_expire_in_minutes %></p>
    </div>

    <%= step_form @form_object do |f| %>
      <%= f.text_area :application_details, size: '40x4', class: 'form-control-3-4' %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
