<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <section id="what-to-do-now" class="moj-Section moj-Section--2" data-block-name="what-to-do-now">
      <h2 class="gv-u-heading-xlarge"><%= t '.what_to_do_now.heading' %></h2>
      <div class="Section__content govuk-govspeak gv-s-prose">
        <p><%= t '.what_to_do_now.copy' %></p>
      </div>
    </section>

    <div class="xform-group form-submit">
      <%= link_to t('.download_c100_link'), 'https://formfinder.hmctsformfinder.justice.gov.uk/c100-eng.pdf', class: 'button', role: 'button' %>
    </div>
  </div>
</div>
