<% title t('.page_title') %>

<% heading = t '.heading', name: @form_object.record.child.full_name %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge">
      <%= heading %>
    </h1>

    <%= step_form @form_object do |f| %>
      <%= f.collection_check_boxes :person_ids, @form_object.people, :id, :full_name, legend_options: { class: 'visually-hidden', text: heading } %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
