<% title t(".page_title.#{@form_object.i18n_key}") %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <p class="app__section_heading">Safety concerns</p>
    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t ".heading.#{@form_object.i18n_key}" %></h1>

    <div class="govuk-govspeak gv-s-prose">
      <p><%=t ".lead_text.#{@form_object.i18n_key}_html" %></p>
    </div>

    <%= step_form @form_object do |f| %>
      <%= f.hidden_field :subject %>
      <%= f.hidden_field :kind %>

      <%= f.radio_button_fieldset :answer, inline: true, choices: GenericYesNo.values %>

      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
