<tr>
  <td valign="middle"><%= result.reference %></td>
  <td valign="middle"><%= result.created_at %></td>
  <td valign="middle"><%= result.sent_at %></td>
  <td valign="middle"><%= result.completed_at %></td>
  <td valign="middle"><%= result.status %></td>
</tr>
