<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :has_other_children, inline: true, choices: GenericYesNo.values %>

      <%= f.continue_button %>
    <% end %>

    <div class="extraBlocks  govuk-govspeak gv-s-prose">
      <div>
        <details data-block-name="has_other_children">
          <summary>
            <span class="summary" data-ga-category="explanations" data-ga-label="has other children"><%=t '.block_title' %></span>
          </summary>
          <div class=" panel panel-border-narrow undefined">
            <%=t '.block_content_html' %>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>
