<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :has_other_children, inline: true, choices: GenericYesNo.values, legend_options: { class: 'visually-hidden', text: t('.heading') }%>

      <%= f.continue_button %>
    <% end %>

    <details data-block-name="safety-concerns-reasons">
      <summary>
        <span class="summary" data-ga-category="explanations" data-ga-label="has other children">
          <%=t 'shared.cafcass.safety_title' %>
        </span>
      </summary>
      <div class="panel panel-border-narrow">
        <%=t 'shared.cafcass.safety_content_html' %>
      </div>
    </details>
  </div>
</div>
