<%= person.hidden_field :id %>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <span class="govuk-fieldset__heading"><%= legend %></span>
  </legend>

  <%= person.govuk_text_field :first_name, width: 'one-half' %>
  <%= person.govuk_text_field :last_name, width: 'one-half' %>

  <%= person.button t('.remove_name', legend: legend.downcase), type: :submit, name: :remove_name, value: person.object.id,
                    class: %w(govuk-button govuk-button--warning), data: { module: 'govuk-button' } %>
</fieldset>
