<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <p class="govuk-body-l govuk-!-margin-bottom-6">
      <% if user_signed_in? %>
        <%=t '.lead_signed_in' %>
      <% else %>
        <%=t '.lead_signed_off' %>
      <% end %>
    </p>

    <%= link_to t('.resume_link'), previous_step_path, class: 'govuk-button govuk-!-margin-right-1 ga-pageLink', role: 'button', draggable: false, data: { module: 'govuk-button', ga_category: 'in progress warning', ga_label: 'resume application' } %>
    <%= link_to t('.restart_link'), root_path(new: 'y'), class: 'govuk-button govuk-button--secondary ga-pageLink', role: 'button', draggable: false, data: { module: 'govuk-button', ga_category: 'in progress warning', ga_label: 'new application' } %>
  </div>
</div>
