<tr class="<%= draft.expires_in_class %>">
  <td class="timeliness">
    <%= content_tag(:span, draft.expires_in) %>
  </td>

  <% if draft.applicant_name.present? %>
    <td><%= draft.applicant_name %></td>
  <% else %>
    <td class="not-entered"><%=t '.name_not_entered' %></td>
  <% end %>

  <td class="right">
    <span class="right actions actions-tight">
      <%= button_to t('.delete'), users_draft_path(draft), method: :delete, data: {confirm: t('.delete_confirmation')}, class: 'button button-secondary' %>
      <%= link_to t('.resume'), resume_users_draft_path(draft), class: 'button ga-pageLink', data: {ga_category: 'save and return', ga_label: 'resume application'} %>
    </span>
  </td>
</tr>
