<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <p class="app__section_heading"><%=t '.section' %></p>
    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <div class="govuk-govspeak gv-s-prose">
      <p><%=t '.lead_text' %></p>
    </div>

    <%= step_form @form_object do |f| %>
      <%= f.text_area :previous_attempt_details, size: '40x4', class: 'form-control-3-4' %>

      <%=
        f.radio_button_fieldset :previous_attempt_agency_involved, inline: true do |fieldset|
          fieldset.radio_input(GenericYesNo::YES, panel_id: :agency_involved_panel)
          fieldset.radio_input(GenericYesNo::NO)
          fieldset.revealing_panel(:agency_involved_panel) do |panel|
            panel.text_area :previous_attempt_agency_details, size: '40x4', class: 'form-control-3-4'
          end
        end
      %>

      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
