<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <div class="prototype-step">This page is a prototype and is not enabled in production.</div>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <p class="lede gv-u-text-lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <%=
        f.radio_button_fieldset :submission_type, inline: true do |fieldset|
          fieldset.radio_input(SubmissionType::ONLINE, panel_id: :receipt_email_panel)
          fieldset.radio_input(SubmissionType::PRINT_AND_POST)
          fieldset.revealing_panel(:receipt_email_panel) do |panel|
            panel.text_field :receipt_email
          end
        end
      %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
