<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <p class="lede">
      <%=t '.lead_text' %>
      <%- if @local_court %>:<%- end %>
    </p>

    <%- if @local_court %>
      <div role="note" aria-label="Information" class=" panel panel-border-wide info-notice">
        <%= simple_format(@local_court.address.join("\n")) %>
      </div>
    <%- end %>

    <%= render partial: '/steps/shared/screener_exit_actions', locals: { hide_cait_info: true } %>
  </div>
</div>
