<div class="wide-margin">
  <div class="grid_content_header govuk-box-highlight">
    <h1 class="app__heading heading-xlarge gv-u-heading-xxlarge">Your application has been submitted</h1>
    <p>Your reference code is:<br/><strong><%= @reference_code %></strong></p>
  </div>

  <p>Your completed application has been sent to <%= @court.name %>. After your payment has been processed, the court will be in touch with what happens next.</p>

  <strong>A copy of your application is attached to this email.</strong>

  <h2>Pay the application fee</h2>
  <%= render partial: 'steps/shared/payment_instructions', locals: {
    c100_application: @c100_application
  } %>

  <%= render partial: 'mailers/shared/court_help', locals: {court: @court} %>

  <%= render partial: 'mailers/shared/feedback' %>
</div>
