<h1>"<%= @service_name %>" Submission</h1>

<p>Thank you for submitting your C100 application through the "<%= link_to @service_name, root_url %>"
service</p>

<p>Your reference code is: <strong><%= @reference_code %></strong></p>

<p>The court will contact you soon to arrange payment</p>

<p>You can email the court by replying to this email</p>

<%= render partial: 'mailers/shared/court_help', locals: {court: @court} %>

<%= render partial: 'mailers/shared/feedback' %>
