<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <p class="app__section_heading"><%=t '.section' %></p>
    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <p class="lede gv-u-text-lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <% CourtOrderType.values.each do |order_name| %>
        <%=
          f.radio_button_fieldset order_name.to_sym, inline: true do |fieldset|
            fieldset.radio_input(GenericYesNo::YES, panel_id: "#{order_name}_panel")
            fieldset.radio_input(GenericYesNo::NO)
            fieldset.revealing_panel("#{order_name}_panel") do |panel|
              panel.gov_uk_date_field :"#{order_name}_issue_date", placeholders: true, legend_text: t('shared.form_elements.order_issue'), legend_class: 'form-label-bold', form_hint_text: ''
              panel.text_field :"#{order_name}_length"
              panel.radio_button_fieldset :"#{order_name}_is_current", inline: true, choices: GenericYesNo.values
              panel.text_field :"#{order_name}_court_name"
            end
          end
        %>
      <% end %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
