<div class="govuk-summary-list__row" id="<%= multi_answer_row.question %>">
  <dt class="govuk-summary-list__key govuk-!-width-one-third">
    <%=t "check_answers_html.#{multi_answer_row.question}.question" %>
  </dt>
  <dd class="govuk-summary-list__value">
    <% if Array(multi_answer_row.value).any? %>
      <ul class="govuk-list govuk-list--bullet">
        <% multi_answer_row.value.each do |value| %>
          <li>
            <%= t("check_answers_html.#{multi_answer_row.question}.answers.#{value}") %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <%# It will only enter here when using `show: true` in the `MultiAnswer` %>
      <%=t "check_answers_html.#{multi_answer_row.question}.absence_answer" %>
    <% end %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= render partial: 'steps/completion/shared/change_link', locals: { question: multi_answer_row } %>
  </dd>
</div>
