<% title t('.page_title') %>

<%= step_header %>

<h1 class="app__heading heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

<p class="lede"><%=t '.lead_text' %></p>

<%= render @presenter.sections %>

<br/>

<%= step_form @form_object do |f| %>
  <div class="declaration-box util_mt-medium">
    <h1 class="app__heading heading-xlarge gv-u-heading-xxlarge util_mb-medium"><%=t '.declaration_heading' %></h1>

    <p class="lede gv-u-text-lede"><%= t '.declaration_lead_text' %></p>

    <div role="note" aria-label="Warning" class="notice gv-c-notice">
      <i class="icon icon-important gv-c-notice__icon gv-c-notice__icon--important">
        <span class="visually-hidden gv-c-notice__icon-fallback-text"><%= t '.warning_title' %></span>
      </i>
      <strong class=" bold-small gv-c-notice__text">
        <%= t '.false_information_warning' %>
      </strong>
    </div>

    <br/>

    <%= f.single_check_box :declaration_made %>
  </div>

  <br/>
  <div class="panel panel-border-narrow">
    <p><%=t @presenter.before_submit_warning %></p>
  </div>

  <%= f.continue_button(
    continue: @presenter.submit_button_label,
    save_and_continue: @presenter.submit_button_label
  ) %>
<% end %>
