<% title t('.page_title') %>

<%= step_header %>

<h1 class="app__heading heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

<p class="lede"><%=t '.lead_text' %></p>

<%= render @presenter.sections %>

<%= step_form @form_object,
              html: { class: 'util_mt-large ga-submitForm' },
              data: { ga_category: 'application completed', ga_label: 'declaration' } do |f| %>

  <div class="declaration-box util_mt-medium">
    <h1 class="app__heading heading-xlarge gv-u-heading-xxlarge util_mb-medium"><%=t '.declaration_heading' %></h1>

    <% unless current_c100_application.has_solicitor? %>
      <p class="lede gv-u-text-lede"><%= t '.declaration_lead_text' %></p>
    <% end %>

    <div role="note" aria-label="Warning" class="notice gv-c-notice util_mb-medium">
      <i class="icon icon-important gv-c-notice__icon gv-c-notice__icon--important">
        <span class="visually-hidden gv-c-notice__icon-fallback-text"><%= t '.warning_title' %></span>
      </i>
      <strong class=" bold-small gv-c-notice__text">
        <%= t '.false_information_warning' %>
      </strong>
    </div>

    <%= f.text_field :declaration_signee, class: 'narrow' %>

    <% if current_c100_application.has_solicitor? %>
      <%= f.radio_button_fieldset :declaration_signee_capacity, choices: UserType.values %>
    <% else %>
      <%# No need to ask the capacity if the applicant does not have a solicitor, so we default to `applicant` %>
      <%= f.hidden_field :declaration_signee_capacity, value: UserType::APPLICANT %>
    <% end %>
  </div>

  <div class="panel panel-border-narrow util_mt-medium">
    <p><%=t @presenter.before_submit_warning %></p>
  </div>

  <%= f.continue_button(
    continue: @presenter.submit_button_label,
    save_and_continue: @presenter.submit_button_label
  ) %>
<% end %>
