<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <p class="lede gv-u-text-lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <%=
        f.radio_button_fieldset :payment_type, legend_options: { class: 'visually-hidden', text: t('.heading') } do |fieldset|
          fieldset.radio_input(PaymentType::SELF_PAYMENT_CARD)
          fieldset.radio_input(PaymentType::SELF_PAYMENT_CHEQUE)
          fieldset.radio_input(PaymentType::HELP_WITH_FEES) { f.text_field :hwf_reference_number, class: 'narrow' }
          fieldset.radio_input(PaymentType::SOLICITOR) { f.text_field :solicitor_account_number, class: 'narrow' } if @form_object.has_solicitor?
        end
      %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
