<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <%= step_form @form_object, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_collection_radio_buttons :without_notice, GenericYesNo.values, :value, nil do %>
        <p class="govuk-body"><%=t '.lead_text' %></p>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            <%=t '.warning_text' %>
          </strong>
        </div>
      <% end %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
