<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <p><%=t '.info_html' %></p>

    <%= step_form @form_object do |f| %>
      <%=
        f.radio_button_fieldset :international_jurisdiction, legend_options: { class: 'visually-hidden', text: t('.heading') }, inline: true do |fieldset|
          fieldset.radio_input(GenericYesNo::YES, panel_id: :international_jurisdiction_panel)
          fieldset.radio_input(GenericYesNo::NO)
          fieldset.revealing_panel(:international_jurisdiction_panel) do |panel|
            panel.text_area :international_jurisdiction_details, size: '40x4', class: 'form-control-3-4'
          end
        end
      %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
