<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%= t '.heading' %></h1>

    <p class="lede gv-u-text-lede"><%= t '.body_html' %></p>

    <%= step_form @form_object do |f| %>
      <%=
        f.radio_button_fieldset :help_paying, inline: true do |fieldset|
          fieldset.radio_input(GenericYesNo::YES, panel_id: :help_paying_panel)
          fieldset.radio_input(GenericYesNo::NO)
          fieldset.revealing_panel(:help_paying_panel) do |panel|
            panel.text_field :hwf_reference_number
          end
        end
      %>

      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
