<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <p class="app__section_heading"><%=t '.section' %></p>
    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <p class="lede gv-u-text-lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <%=
        f.radio_button_fieldset :intermediary_help, inline: true do |fieldset|
          fieldset.radio_input(GenericYesNo::YES, panel_id: :intermediary_help_panel)
          fieldset.radio_input(GenericYesNo::NO)
          fieldset.revealing_panel(:intermediary_help_panel) do |panel|
            panel.text_area :intermediary_help_details, size: '40x4', class: 'form-control-3-4'
          end
        end
      %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
