<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.text_area :other_details, size: '40x4', class: 'form-control-3-4' %>

      <%= f.check_box_fieldset :other_issue, [
        :child_arrangements_order,
        :prohibited_steps_order,
        :specific_issue_order
      ] %>

      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
