<tr>
  <td valign="middle" width="200"><%= completion.completed_at %></td>
  <td valign="middle"><%= completion.reference_code %></td>
  <td valign="middle"><%= completion.submission_type || 'N/A' %></td>
  <td valign="middle"><%= completion.metadata['payment_type'] || 'N/A' %></td>
  <td valign="middle"><%= completion.metadata['postcode'] %></td>
  <td valign="middle"><%= completion.metadata['saved_for_later'] %></td>
</tr>
<tr>
  <td valign="middle" colspan="6" class="no-border">
    <%= completion.court %>
  </td>
</tr>
<tr>
  <td valign="middle" colspan="6" class="no-border"></td>
</tr>
