<tr class="govuk-table__row">
  <td class="govuk-table__cell"><%= completion.completed_at %></td>
  <td class="govuk-table__cell"><%= completion.reference_code %></td>
  <td class="govuk-table__cell"><%= completion.submission_type || 'N/A' %></td>
  <td class="govuk-table__cell"><%= completion.court %></td>
</tr>

<% if defined?(@reference_code) %>
  <% c100 = completion.c100_application %>

  <tr class="govuk-table__row">
    <td colspan="4" class="no-border govuk-table__cell">
      <div class="govuk-inset-text application-extra-details">
        <table class="govuk-table">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell no-border">
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                  <dt>Application started at</dt>
                  <dd><%= completion.started_at %> (v:<%= completion.metadata['v'] || '1-3' %>)</dd>
                  <dt>Saved for later?</dt>
                  <dd><%= completion.metadata['saved_for_later'] %></dd>
                  <dt>Any applicant under 18?</dt>
                  <dd><%= completion.metadata['under_age'] || false %></dd>
                  <dt>Payment type</dt>
                  <dd><%= completion.metadata['payment_type'] || 'N/A' %></dd>
                  <dt>Legal representation</dt>
                  <dd><%= completion.metadata['legal_representation'] || 'N/A' %></dd>
                  <dt>Urgent hearing</dt>
                  <dd><%= completion.metadata['urgent_hearing'] || 'N/A' %></dd>
                  <dt>Without notice hearing</dt>
                  <dd><%= completion.metadata['without_notice'] || 'N/A' %></dd>
                </dl>
            </td>
            <td class="govuk-table__cell no-border">
              <dl class="govuk-summary-list govuk-summary-list--no-border">
                <dt>Postcode</dt>
                <dd><%= completion.metadata['postcode'] %></dd>
                <dt>C1A form?</dt>
                <dd><%= completion.metadata['c1a_form'] %></dd>
                <dt>C8 form?</dt>
                <dd><%= completion.metadata['c8_form'] %></dd>
                <dt>Signee capacity</dt>
                <dd><%= completion.metadata['signee_capacity'] %></dd>

                <% if c100 %>
                  <dt>Court receipt email address</dt>
                  <dd><%= c100.screener_answers_court.email %> | <%= link_to 'web', C100App::CourtfinderAPI.new.court_url(c100.screener_answers_court.slug), rel: 'external', target: '_blank', class: 'govuk-link govuk-link--no-visited-state' %></dd>
                  <dt>Applicant receipt email address</dt>
                  <dd><%= c100.receipt_email || 'none' %></dd>
                <% else %>
                  <dt>Court receipt email address</dt>
                  <dd>(purged from database)</dd>
                  <dt>Applicant receipt email address</dt>
                  <dd>(purged from database)</dd>
                <% end %>
              </dl>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
<% end %>
