<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-quarter"><%= payment.created_at %></td>
  <td class="govuk-table__cell govuk-!-width-one-quarter"><%= payment.updated_at %></td>
  <td class="govuk-table__cell">
    <strong class="govuk-tag app-tag--<%= payment.state['status'] %>">
      <%= payment.state['status'] %>
    </strong>
  </td>
  <td class="govuk-table__cell">
    <% if payment.state.key?('code') %>
      <%= payment.state.slice('code', 'message') %> <em class="app-util--disabled-color">#<%= payment.c100_application_id.split('-').first %></em>
    <% end %>
  </td>
</tr>
