<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <p class="app__section_heading"><%=t '.section' %></p>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <div class=" govuk-govspeak gv-s-prose">
      <%=t '.you_told_us_html' %>

      <ul class="list list-bullet">
        <%= render @presenter.concerns %>
      </ul>

      <%=t '.further_questions_info_html' %>
    </div>

    <div class="xform-group form-submit">
      <%= link_to t('.continue'), steps_abuse_concerns_children_info_path, class: 'button', role: 'button' %>
    </div>

    <div class="govuk-govspeak gv-s-prose util_mt-medium">
      <details data-block-name="safety-concerns-reasons">
        <summary>
        <span class="summary" data-ga-category="explanations" data-ga-label="safety concerns">
          <%=t 'shared.cafcass.safety_title' %>
        </span>
        </summary>
        <div class="panel panel-border-narrow">
          <%=t 'shared.cafcass.safety_content_html' %>
        </div>
      </details>
    </div>
  </div>
</div>
