<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <p class="lede gv-u-text-lede"><%=t '.lead_text_html' %></p>

    <%=t '.info_notice_html' %>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :miam_exemption_claim, inline: true, choices: GenericYesNo.values %>

      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
