<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading', name: @form_object.record.full_name %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.text_field :address_line_1 %>
      <%= f.text_field :address_line_2, label_options: { class: 'visually-hidden' } %>
      <%= f.text_field :town %>
      <%= f.text_field :country %>
      <%= f.text_field :postcode %>

      <%=
        f.radio_button_fieldset :residence_requirement_met, inline: true do |fieldset|
          fieldset.radio_input(GenericYesNo::YES)
          fieldset.radio_input(GenericYesNo::NO) { f.text_area :residence_history, size: '40x4', class: 'form-control-3-4' }
        end
      %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
