<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <!--TODO: We need to come back to this to implement the show/hide properly as it is not-->
    <!--working at the moment due to a combination of different markup and custom JS code-->
    <!--inherited from the taxtribs project-->

    <%= step_form @form_object do |f| %>
      <%=
        f.radio_button_fieldset :help_paying do |fieldset|
          fieldset.radio_input(HelpPaying::YES_WITH_REF_NUMBER) { f.text_field :hwf_reference_number }
          fieldset.radio_input(HelpPaying::YES_WITHOUT_REF_NUMBER) { t('.hwf_reference_number_help_html') }
          fieldset.radio_input(HelpPaying::NOT_NEEDED)
        end
      %>

      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
