<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-xlarge gv-u-heading-xxlarge"><%=t '.heading' %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.text_field :full_name %>
      <%= f.text_field :firm_name %>
      <%= f.text_field :reference %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
