<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <p class="lede"><%= t('.more_text_html', expire_in_days: Rails.configuration.x.drafts.expire_in_days) %></p>

    <div class="form-submit">
      <%= link_to t('.sign_in'), user_session_path, class: 'button' %>
      <%= link_to t('.new_application'), root_path, class: 'button button-secondary' %>
    </div>
  </div>
</div>
