<% content_for?(:page_title) ? yield(:page_title) : fallback_title %>

<% content_for(:head) do %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!--[if lt IE 9]>
  <%= stylesheet_link_tag 'ie8', media: 'all' %>
  <![endif]-->
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="msapplication-config" content="none"/>
<% end %>

<% content_for(:header_class) do %>with-proposition<% end %>

<% content_for(:proposition_header) do %>
  <div class="header-proposition">
    <div class="content">
      <%= link_to service_name, Rails.configuration.gds_service_homepage_url, id: 'proposition-name' %>
      <%= render partial: 'backoffice/shared/menu' %>
    </div>
  </div>
<% end %>

<% content_for(:content) do %>
  <main id="content" role="main">
    <% if flash[:alert] %>
      <div class="error-summary">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </main>
<% end %>

<% content_for(:body_end) do %>
  <!--[if lte IE 8]>
  <script>
    document.body.className = document.body.className.replace("js-enabled","")
  </script>
  <![endif]-->

  <!--[if gt IE 8]><!--><%= javascript_include_tag 'application' %><!--<![endif]-->
<% end %>

<% content_for(:footer_support_links) do %>
  <%= render partial: 'layouts/footer_links' %>
<% end %>

<%= render template: "layouts/govuk_template" %>
