<% if admin_signed_in? %>
  <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
  <nav>
    <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
      <li class="govuk-header__navigation-item">
        <%= link_to_unless_current 'Applications', backoffice_dashboard_index_path, class: 'govuk-header__link' %>
      </li>
      <li class="govuk-header__navigation-item">
        <%= link_to_unless_current 'Emails', backoffice_emails_path, class: 'govuk-header__link' %>
      </li>
      <li class="govuk-header__navigation-item">
        <%= link_to_unless_current 'Audit', backoffice_audit_index_path, class: 'govuk-header__link' %>
      </li>
      <li class="govuk-header__navigation-item">
        <%= link_to_unless_current 'Users', backoffice_users_path, class: 'govuk-header__link' %>
      </li>
      <li class="govuk-header__navigation-item util_ml-medium">
        <%= link_to 'Logout', backoffice_auth0_logout_path, class: 'govuk-header__link', method: :delete %> (<%= admin_name %>)
      </li>
    </ul>
  </nav>
<% end %>
