<% if admin_signed_in? %>
  <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
  <nav>
    <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
      <li class="govuk-header__navigation-item <%= 'govuk-header__navigation-item--active' if current_page?(backoffice_dashboard_index_path) %>">
        <%= link_to 'Applications', backoffice_dashboard_index_path, class: 'govuk-header__link' %>
      </li>
      <li class="govuk-header__navigation-item <%= 'govuk-header__navigation-item--active' if current_page?(backoffice_emails_path) %>">
        <%= link_to 'Emails', backoffice_emails_path, class: 'govuk-header__link' %>
      </li>
      <li class="govuk-header__navigation-item <%= 'govuk-header__navigation-item--active' if current_page?(backoffice_audit_index_path) %>">
        <%= link_to 'Audit', backoffice_audit_index_path, class: 'govuk-header__link' %>
      </li>
      <li class="govuk-header__navigation-item <%= 'govuk-header__navigation-item--active' if current_page?(backoffice_users_path) %>">
        <%= link_to 'Users', backoffice_users_path, class: 'govuk-header__link' %>
      </li>
      <li class="govuk-header__navigation-item">
        <%= button_to 'Logout', backoffice_auth0_logout_path, class: 'govuk-header__link app-header__logout-link', method: :delete %>
      </li>
      <li class="govuk-header__navigation-item">
        (<%= admin_name %>)
      </li>
    </ul>
  </nav>
<% end %>
