<nav id="proposition-menu">
  <ul id="proposition-links" aria-label="Top Level Navigation">
    <li>
      <%= link_to_unless_current 'Applications', backoffice_dashboard_index_path %>
    </li>
    <li>
      <%= link_to_unless_current 'Emails', backoffice_emails_path %>
    </li>
    <li>
      <%= link_to_unless_current 'Audit', backoffice_audit_index_path %>
    </li>
    <li>
      <%= link_to_unless_current 'Users', backoffice_users_path %>
    </li>
    <li class="util_ml-medium">
      <%= link_to 'Logout', backoffice_auth0_logout_path, method: :delete %> (<%= admin_name %>)
    </li>
  </ul>
</nav>
